body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
}

/* body, html {
    margin: 0;
    height: 100%;
} */

h1 {
    font-size: 45px;
    color: #222;
}
.intro p {
    color: #444;
    line-height: 1.4;
}
ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}
  
li {
    display: inline;
}
li a {
    padding: 30px;
    margin: 10px;
    font-size: 25px;
    color: #000;
}

li a:hover {
    transition: ease-in 0.4s;
    color: #0508c9;
    text-decoration: none;
   
}
.skip {
    color: #0524d4;
}
.container {
    display: flex;
}

.half-width {
    width: 50%;
}
.intro {
    padding: 100px 0 0 60px;
}

.btn {
    border: none;
    padding: 10px 30px;
    color: #fff;
    background-image: linear-gradient(#0d10ce, #1789b6b4);
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 25px;
    text-align: center;
}

.btn:hover {
    background-color: #0d10ce;
    transition: ease-in 1s;
}

.half-width img {
    width: 80%;
    padding-top: 40px;
}

.female-img {
    padding-left: 70px;
}

/* add frame */
.frame {
    background-image: url(frameImage/7.png);
    background-repeat: no-repeat;
}

.intro-container {
    margin-bottom: 60px;
}

.about {
    padding: 75px 45px 0 30px;
}
.about p{
    color: #333;
    line-height: 1.5;
}

.explore-bg-img {
    background-image: url(food-img-bg/bg-img.png);
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text {
    text-align: center;
    padding: 20px 340px;
}

.text h1, p {
    color: #555;
}

.shadow-container {
    display: flex;
    /* flex-direction: row; */
    /* justify-content: center; */
    justify-content: space-around;
    align-items: center;
    /* margin: 0 30px; */
    margin: 0 25px;

}

.recipie {
    width: 50%;
    padding: 25px;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1), 0 5px 6px rgba(0, 0, 0, 0.19);
    margin: 30px;
    border-radius: 15px;
}

.recipie img {
    width: 100%;
}

.detail-container {
    display: flex;
    justify-content: space-around;

}

.shadow-detail {
    margin: 60px 45px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4), 0 6px 8px rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 10px;

}

.footer {
    padding: 10px 30px 50px 30px;
    background-color: #222;
    text-align: center;
    color: #fffa;
    width: 100%;
    margin-top: 10px;
}